<html>
<body>
<h3 style="color:green">{{service.name}} recovered!</h3>
<a href="{{service.url}}">{{service.url}}</a> works again after <b>{{duration}}</b>.
<a style="font-size:-2" href="http://localhost/services">Monitoring</a>
</body>
</html>
